<!DOCTYPE HTML>

<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
  Welcome {{user}}!
  <br>
  <form action = "/profile">
      <button type = "submit"> My Profile </button>
  </form>
  <form action = "/logout">
      <button type = 'submt'> Logout </button>
  </form>
  <br>
  <form action = "/search">
      <input type = "text" name ="search">
      <select name = "type">
          <option value = "userSearch">By Username</option>
          <option value = "titleSearch">By Title</option>
          <option value = "entrySearch">By Keyword</option>
      </select>
      <input type = "submit" value = "Search">
      <br>
  </form>
  <h1>blogs</h1>
  <br>
  {% for x in range(table|int) %}
      from <b>{{usern[x]}}</b> <br>
      <h3> {{title[x]}} </h3>
      {{entry[x]}}<br>
      <br>
      <br>
      <br>
      <br>
      <br>
  {% endfor %}
  </body>
</html>
