<!DOCTYPE HTML>

<html>
  <head>
    <title>My Profile</title>
  </head>
  <body>
  Welcome {{user}}!
  <br>
  <form action = "/home">
      <button type = "submit"> Homepage </button>
  </form>
  <form action = "/logout">
      <button type = "submit"> Logout </button>
  </form>
  <br>
  <form action = "/search">
      <input type = "text" name ="search">
      <select name = "type">
          <option value = "userSearch">By Username</option>
          <option value = "titleSearch">By Title</option>
          <option value = "entrySearch">By Keyword</option>
      </select>
      <input type = "submit" value = "Search">
      <br>
  </form>
  <h1>profile</h1>
  <br>
  <form action = '/add'>
      <button type = 'submit'> Create entry </button>
  </form>
  <br><br>
  {% for x in range(table|int) %}
      <h3> {{title[x]}} </h3>
      {{entry[x]}}<br>
      <br>
      <form action = '/edit'>
          <button type = 'submit'> Edit entry </button>
      </form>
      <br>
      <br>
      <br>
      <br>
      <br>
  {% endfor %}
  </body>
</html>
