<!DOCTYPE HTML>

<html>
  <head>
    <title>Add an entryr</title>
  </head>
  <body>
    <h1>Add Entry for {{user}}</h1>
    <form action = "/addE" id = "entry">
        Add Title:
        <input type = "text" name = "title">
        <br>
        Add Text:
        <br>
        <br>
        <textarea type = "text" rows = "8" cols = "100" form = "entry" name = "entry"></textarea>
        <br>
        <input type = "submit" value = "Create Entry">
    </form>
    <form action = "/profile">
      <button type = "submit"> Back to Profile </button>
      <br>
    </form>
  </body>
</html>
