<!DOCTYPE HTML>

<html>
  <head>
    <title>My Profile</title>
  </head>
  <body>
  Welcome {{user}}!
  <br>
  <form action = "/home">
      <button type = "submit"> Homepage </button>
  </form>
  <form action = "/logout">
      <button type = "submit"> Logout </button>
  </form>
  <br>
  <form method = "get" action = "/search">
      <input type = "text" name ="search">
      <input type = "submit" value = "Search">
      <br>
  </form>
  <h1>profile</h1>
  <br>
  <form action = '/add'>
      <button type = 'submit'> Create entry </button>
  </form>
  <br><br>
  <h2>{{title}}</h2>
  {{entry}}
  </body>
</html>
