<!DOCTYPE HTML>

<html>
  <head>
    <title>Add an entryr</title>
  </head>
  <body>
    <h1>Edit Entry for {{user}}</h1>
    <form action = "/editE" id = "Eentry">
        Add Title:
        <textarea type  = "text" rows = "1" cols = "16" form ="Eentry" name = "title">{{oldTitle}}</textarea>
        <br>
        Add Text:
        <br>
        <br>
        <textarea type = "text" rows = "8" cols = "100" form = "Eentry" name = "entry">{{oldContent}}</textarea>
        <br>
	<input type = "hidden" name = postID value = {{postID}}>
	       
        <input type = "submit" value = "Edit Entry">
    </form>
  </body>
</html>
